/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    display: grid;
    grid-template-areas: "sidebar content";
    grid-template-columns: 200px 1fr;
    height: 100vh;
    overflow: hidden;
}

.sidebar {
    grid-area: sidebar;
    background-color: #444;
    color: white;
    padding: 20px;
    height: 100vh;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    position: relative;
    transition: width 0.3s;
    width: 200px;
}

    .sidebar.collapsed {
        width: 60px;
    }

    .sidebar ul {
        list-style-type: none;
        padding: 0;
        flex: 1;
    }

        .sidebar ul li {
            margin: 25px 0;
            text-align: center; /* Center the icons when sidebar is collapsed */
        }

            .sidebar ul li a {
                color: white;
                text-decoration: none;
                font-size: 17px;
                font-weight: bold;
                display: flex;
                align-items: center;
                justify-content: center; /* Center the icons */
                transition: all 0.3s;
            }

                .sidebar ul li a i {
                    margin-right: 10px;
                }

                .sidebar ul li a:hover {
                    text-decoration: underline;
                }

    .sidebar.collapsed ul li a {
        justify-content: center;
    }

        .sidebar.collapsed ul li a i {
            margin-right: 0;
        }

.logout-item {
    margin-top: auto;
    padding-top: 20px;
}

    .logout-item a {
        color: #fff;
        text-decoration: none;
        display: flex;
        align-items: center;
        justify-content: center;
    }

        .logout-item a i {
            margin-right: 10px;
        }

        .logout-item a:hover {
            background-color: #555;
        }

.sidebar.collapsed .logout-item a i {
    margin-right: 0;
}

.content {
    grid-area: content;
    padding: 20px;
    background-color: #fff;
    overflow-y: auto;
}

footer {
    grid-area: footer;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 14px;
}

.admin-icon-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
}

.admin-icon p {
    text-align: center;
    margin-top: 5px;
    font-size: 17px;
    font-weight: bold;
    display: block;
}

.sidebar-toggle {
    position: fixed;
    top: 20px;
    left: 20px;
    background-color: #333;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 1000;
}

.sidebar.collapsed .admin-icon-img,
.sidebar.collapsed .admin-icon p {
    display: none;
}
